/* style.css */

.product-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-cards-container {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping */
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.product-card {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto; /* Prevent flex-grow, maintain fixed width */
    width: 300px; /* Set a fixed width for each card */
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.product-thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-details {
    padding: 15px;
}

.product-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.product-price {
    margin: 5px 0 10px;
    font-size: 1.2rem;
    color: #888;
}

/* Cart css */
.cart-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.cart-list {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 20px;
}

.cart-item-details {
    flex-grow: 1;
}

.remove-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-button:hover {
    background-color: #ff1a1a;
}

/* src/components/Navbar.css */
nav {
    background-color: #333;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}
